<DModal
  @title={{theme-i18n "modal.title"}}
  class="insert-jitsi"
  @closeModal={{@closeModal}}
>
  <:body>
    <div class="insert-jitsi-form">
      <div class="insert-jitsi-input">
        <label>
          {{theme-i18n "room_label"}}
        </label>
        <TextField
          @value={{this.jitsiRoom}}
          @autofocus="autofocus"
          @autocomplete="off"
          @minlength="6"
        />
        <div class="desc">{{theme-i18n "modal.room_field_description"}}</div>
      </div>

      {{#unless @model.plainText}}

        <div class="insert-jitsi-input">
          <label>
            {{theme-i18n "button_text_label"}}
          </label>
          <TextField
            @value={{this.buttonText}}
            @placeholderKey={{theme-prefix "launch_jitsi"}}
          />
        </div>

        {{#unless (theme-setting "hide_iframe_buttons")}}
          <div class="insert-jitsi-input">
            <label class="checkbox-label">
              <Input @type="checkbox" @checked={{this.mobileIframe}} />
              {{theme-i18n "modal.mobile_iframe"}}
            </label>
          </div>

          <div class="insert-bbb-input">
            <label class="checkbox-label">
              <Input @type="checkbox" @checked={{this.desktopIframe}} />
              {{theme-i18n "modal.desktop_iframe"}}
            </label>
          </div>
        {{/unless}}
      {{/unless}}

      {{#if @model.createOnly}}
        <div class="insert-jitsi-input">
          <label>
            {{theme-i18n "room_url_label"}}
          </label>
          <div class="inline-form full-width">
            {{#if this.copied}}
              <span class="insert-jitsi-copied">{{theme-i18n "modal.copied"}}</span>
            {{/if}}

            <TextField @value={{this.roomURL}} readonly />
            <DButton
              class="btn-primary btn-icon btn-copy"
              @disabled={{this.insertDisabled}}
              @title={{theme-prefix "modal.copy"}}
              @action={{this.copyRoomURL}}
              @icon={{theme-setting "copy_button_icon"}}
            />
          </div>
          <p class="desc desc--bottom">
            {{theme-i18n "modal.url_description"}}
          </p>
        </div>
      {{/if}}
    </div>
  </:body>
  <:footer>
    {{#if @model.createOnly}}
      <DButton
        class="btn-primary"
        @disabled={{this.insertDisabled}}
        @label={{theme-prefix "modal.launch"}}
        @action={{this.openRoomURL}}
      />
    {{else}}
      <DButton
        class="btn-primary"
        @disabled={{this.insertDisabled}}
        @label={{theme-prefix "modal.insert"}}
        @action={{this.insert}}
      />
    {{/if}}
  </:footer>
</DModal>